.admin-header {
    background-color: var(--main-accent);
    color: var(--main-ink);
    padding: 0px;
    margin: 0px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}

.admin-header a:hover{
    color: var(--main-accent-2);
    transition: 200ms ease;
    text-shadow: 2px 2px 3px rgb(134, 134, 134);
}

.header-left{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--main-accent-2);
}

.header-left-name{
    flex: 2;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 20px;
}

.burger-sidebar-button{
    border: none;
    padding: 0px 10px;
    margin: 0px;
    background: none;
    display: flex;
    align-items: center;
}

.burger-sidebar-icon{
    height: 42px;
    width: 42px;
    cursor: pointer;
    align-items: center;
}

.header-center{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: clamp(24px, 3vw, 40px);
    font-weight: bold;
}

.header-right{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 20px;
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--main-accent-2);
}

.action-1, .action-2, .action-3{
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}
