.admin-header {
    background-color: var(--main-accent);
    color: var(--main-ink);
    padding: 0px;
    margin: 0px;
    height: 60px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
}

.admin-header a:hover{
    background-color: #195f5f;
    color: #000000;
    transition: 200ms ease;
}

.header-left{
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 0 5px;
}

.header-left-name{
    flex: 2;
    display: flex;
    justify-content: left;
    padding-left: 20px;
}

.burger-sidebar-button{
    border: none;
    padding: 0px 10px;
    margin: 0px;
    background: none;
    display: flex;
    align-items: center;
}

.burger-sidebar-icon{
    height: 42px;
    width: 42px;
    cursor: pointer;
    align-items: center;
}

.header-center{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
    font-size: clamp(24px, 3vw, 40px);
    font-weight: bold;
}

.header-right{
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 0 5px;
    gap: 20px;
}

.action-1, .action-2, .action-3{
    justify-content: center;
    display: flex;
    cursor: pointer;
}

.admin-header a {
    display: flex;
    align-items: center;  
    height: 100%;
    text-decoration: none;
    color: inherit;
    padding: 0px 5px;
}