.admin-header {
    background-color: var(--main-accent);
    color: var(--main-ink);
    padding: 0px;
    margin: 0px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-left{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.header-left-name{
    flex: 2;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 20px;
    font-size: 20px;
}

.burger-sidebar-button{
    border: none;
    padding: 0px 10px;
    margin: 0px;
    background: none;
    display: flex;
    align-items: center;
}

.burger-sidebar-icon{
    height: 42px;
    width: 42px;
    cursor: pointer;
    align-items: center;
}

.header-center{
    flex: 7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 30px;
    font-weight: bold;
}

.header-right{
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.action-1, .action-2, .action-3{
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}
